* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

h1 {
    color: white;
    font-size: 5rem;
}

main {
    min-height: calc(100vh - 202px);
}

footer {
    margin-top: auto;
}

form {
  width: 50%;
  background: white;
  border-radius: 1.5rem;
  padding: 2%;
}

.admin {
  background: rgba(0, 0, 0.6, 0.8)!important;
}

.block-member {
    width: 100%;
    text-align: center;
}

.title {
    animation-name: fadeInDown;
    animation-duration: 1.5s;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

.card-dis {
    display: none;
    text-align: center;
}

.card-body {
    padding: 0!important;
}

.card img {
    filter: contrast(50%);
    transition: 300ms;
}

.card:hover img {
    filter: contrast(100%);
    transition: 300ms;
}

.arrow{
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

i:hover {
  transform: scale(1.1);
  transition: 400ms;
  cursor: pointer;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

.afo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
    width: 100%;
    height: 100vh;
}

.i {
    position: fixed;
}

nav {
    position: fixed!important;
    width: 7%;
    z-index: 2000;
    border-bottom-right-radius: 3.75rem;
    transition: 500ms;
}

nav:hover {
    opacity: 1!important;
    transition: 400ms!important;
}

.nav-link:hover {
    color: lightgray!important;
}

.coll ul li {
    display: none;
    transition: 500ms;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.crew {
    min-height: 100vh;
    background: transparent;
}

.block {
    width: 100%;
    height: auto;
    background: white;
}

.block-title {
    background: rgba(0, 0, 0, 0.8);
    width: 50%;
    padding: 2%;
    color: white;
}

.block-first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.block img {
    filter: contrast(60%);
    transition: 400ms;
}

.block img:hover {
    transition: 400ms;
    filter: contrast(100%);
    cursor: pointer;
}

.block2 {
    width: 100%;
    height: auto;
    background: white;
}

.content-card {
    text-align: center;
}

.entete {
    width: 100%;
    height: 100vh;
    background: url('../img/j.jpg') no-repeat;
    background-size: cover;
}

.block-rot {
    float: right;
    width: 50%;
    height: 100vh;
    background: linear-gradient(-60deg, #6d071a 60%, rgba(0, 0, 0, 0) 30%);
    opacity: 0.9;
    animation-name: fadeInRight;
    animation-duration: 1.5s;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 0.9;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

.ent-child {
    width: 50%;
    transform: translateY(35%);
}

.al-title {
    text-shadow: 5px 10px 10px black;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .gallery {
    display: none;
  }

  .img-gallery {
    transition: 700ms;
    margin: 0;
    filter: grayscale(100%);
    width: 17em;
    height: 13em;
  }

  .block-gall:hover .img-gallery {
    filter: grayscale(50%);
    transition: 700ms;
  }

.none {
  display: none;
}

.like {
    position: absolute;
    z-index: 9999;
    color: white;
    font-size: 1.5em;
    transform: translateY(250%);
  }

#m {
  display: none;
}

.divmodal {
  width: 100%;
  height: 105vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 999999999;
  right:				0px;
	bottom:				0px;
	top:				0px;
  left:				0px;
  margin:				auto;
}

#modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  width: 60%;
  height: 70vh;
}

.divspan {
  position: fixed;
  text-align: center;
  z-index: 999999999;
  color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 97vh;
  transform: translateY(-100%);
  width: 100%;
  height: auto;
}

.divspan i:hover {
  transform: none;
  cursor: initial;
}

.divspan p {
font-size: 1.2em;
font-weight: bold;
}
