* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: #F5F5DC;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-size: 5rem;
}

main {
    min-height: calc(100vh - 202px);
}

footer {
    margin-top: auto;
}

form {
  width: 50%;
  background: white;
  border-radius: 1.5rem;
  padding: 2%;
}

.admin {
  background: rgba(0, 0, 0.6, 0.8)!important;
}

.block-member {
    width: 100%;
    text-align: center;
}

.title {
    animation-name: fadeInDown;
    animation-duration: 1.5s;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

.card {
  box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.2); 
  transition: 400ms;
}

.card:hover {
  cursor: pointer;
  animation: fade-slide-downc .6s ease-out forwards;
}

@keyframes fade-slide-downc {
  0% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 0.8;
    transform: none;
  }
}

.card:hover img {
  animation: fade-slide-downi .7s ease-out forwards;
}

@keyframes fade-slide-downi {
  0% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0.7;
    transform: none;
  }
}

.card:hover .card-dis {
  animation: fade-slide-down .5s ease-out forwards;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.card:hover .cardtitle {
  animation: fade-slide-left .5s ease-out forwards;
}

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.card-body {
    padding: 0!important;
}

.ins {
  margin-bottom: auto;
}

.arrow{
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

i:hover {
  cursor: pointer;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

.afo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFD700;
    width: 100%;
    height: 100vh;
}

.i {
    position: fixed;
}

nav {
    background: gray;
    position: fixed!important;
    width: auto;
    z-index: 2000;
    border-bottom-right-radius: 3.75rem;
    transition: 500ms;
    animation-name: fadeInDown;
    animation-duration: 1s;
}

nav ul li {
  margin-left: 2%;
}

nav:hover {
    opacity: 1!important;
    transition: 400ms!important;
}

.nav-link:hover {
    color: lightblue!important;
}

.coll ul li {
    transition: 500ms;
    width: 8em;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.crew {
    min-height: 100vh;
    background: transparent;
}

.block {
    width: 100%;
    height: auto;
    background: #F5F5DC;
}

.block-title {
    background: rgba(0, 0, 0, 0.8);
    width: 50%;
    padding: 2%;
    color: white;
}

.block-first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.block img {
    filter: contrast(60%);
    transition: 400ms;
}

.block img:hover {
    transition: 400ms;
    filter: contrast(100%);
    cursor: pointer;
}

.block2 {
    width: 100%;
    height: auto;
    background: white;
}

.content-card {
    text-align: center;
}

.entete {
    width: 100%;
    height: 100vh;
    background: url('../img/j.jpg') no-repeat;
    background-size: cover;
}

.block-rot {
    float: right;
    width: 50%;
    height: 100vh;
    background: linear-gradient(-60deg, #6d071a 60%, rgba(0, 0, 0, 0) 30%);
    opacity: 0.9;
    animation-name: fadeInRight;
    animation-duration: 1.5s;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 0.9;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

.ent-child {
    width: 50%;
    transform: translateY(35%);
}

.al-title {
    text-shadow: 5px 10px 10px black;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .gallery {
    display: none;
  }

  .img-gallery {
    margin: 0;
    filter: grayscale(100%);
    width: 17em;
    height: 13em;
    border: solid 1px lightgrey;
    cursor: pointer;
  }

  .block-gall:hover .img-gallery {
    filter: grayscale(50%);
    transition: 700ms;
    border: none;
  }

.none {
  display: none;
}

.like {
    position: absolute;
    z-index: 9999;
    color: white;
    font-size: 1.5em;
    transform: translateY(250%);
  }

#m {
  display: none;
}

.divmodal {
  width: 100%;
  height: 105vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 999999999;
  right:				0px;
	bottom:				0px;
	top:				0px;
  left:				0px;
  margin:				auto;
}

#modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  width: 60%;
  height: 70vh;
}

.divspan {
  position: fixed;
  text-align: center;
  z-index: 999999999;
  color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 97vh;
  transform: translateY(-100%);
  width: 100%;
  height: auto;
}

.divspan i:hover {
  transform: none;
  cursor: initial;
}

.divspan p {
font-size: 1.2em;
font-weight: bold;
}

.firstblock {
  width: 50%;
  height: 100vh;
  background: #FFD700;
}

.secondblock {
  width: 50%;
  height: 100vh;
  background: #F5F5DC;
  text-align: center;
}

.blockms {
  margin-top: auto;
  margin-bottom: auto;
}

.blockms h2 {
font-size: 4rem;
animation-name: fadeInDown;
animation-duration: 1.5s;
  }

.blockms p {
  line-height: 32px;
  animation-name: fadeInDown;
  animation-duration: 1.5s;
}

.blockms i {
  animation-name: fadeInDown;
  animation-duration: 1.3s;
}

.blockms a {
  color: black;
}

.winds {
  min-height: 300px;
}

.citation {
  font-family: 'Liu Jian Mao Cao', cursive;
  letter-spacing: .2rem;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
  animation-name: fadeInDown;
  animation-duration: 1.5s;
}

.memb {
  margin-right: 35%;
  animation-name: fadeInDown;
  animation-duration: 1.5s;
}

footer {
  background: black;
}